{{define "Edit"}}
<!DOCTYPE html>
<html lang="en">
{{template "_head"}}

<body>
    {{template "_menu"}}
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Edição de Produtos</h1>
                <p class="lead">Insira os detalhes</p>
            </div>
        </div>
        {{range .}}
        <form method="POST" action="update">
            <input type="hidden" name="id" value="{{.GetId}}">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" class="form-control" value="{{.GetNome}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <input type="text" name="descricao" class="form-control" value="{{.GetDescricao}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="preco">Preço:</label>
                        <input type="number" name="preco" class="form-control" step="0.01" value="{{.GetPreco}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="quantidade">Quantidade:</label>
                        <input type="number" name="quantidade" class="form-control" value="{{.GetQuantidade}}">
                    </div>
                </div>
            </div>
            <button type="submit" value="salvar" class="btn btn-success">Atualizar</button>
            <a class="btn btn-info" href="/">Voltar</a>
        </form>
        {{end}}
    </div>
</body>

</html>
{{end}}